h1{
  background: linear-gradient(
    to right,
    hsl(98 100% 62%),
    hsl(204 100% 59%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
footer button{
  background-color: hsl(204 100% 5%);
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 18px;
  transition: .5s;
  width: 250px;
}
footer button:hover{
  background-color: hsl(204 100% 18%);

}